@model IEnumerable<api.DTOs.InfluencerDto>
@{
    ViewData["Title"] = "Home Page";
}
@section ListKOCHome{
    <style>
        .custom-grid-container {
            display: flex;
            flex-wrap: wrap;
            gap: 0px;
        }

        .horizontal-md {
            flex: 1 1 calc(33.33% - 20px);
            box-sizing: border-box;
        }

        .horizontal-sm {
            flex: 1 1 calc(50% - 20px);
        }

        .horizontal-full {
            flex: 1 1 1%;
        }

        img.max-w-full.w-full.vertical-align-middle {
            object-fit: cover;
        }
    </style>
}


<body>
    <div id="__next" data-reactroot="">
        <div class="layout-wrapper layout-theme-light layout-static layout-static-inactive p-ripple-disabled">
   
            <div class="ml-0 layout-main-container">
                <div class="layout-main">
                    <div class="grid m-0 index-homepage">
                        <div id="quick-search" class="w-full">
                            <div class="container">
                                <div class="title-quick-search"><span>Tìm kiếm nhanh</span></div>
                                <div class="flex box-quick-search align-items-center justify-content-between">
                                    <a class="item-quick-search" title="KOC thời trang"
                                       href="components/search-kocs0f11.html?careerCodes=3">
                                        <div class="img">
                                            <img alt="KOC thời trang" src="https://mykol.vn/demo/images/home/Top1.png" />
                                        </div>
                                        <div class="name">KOC thời trang</div>
                                    </a><a class="item-quick-search" title="KOC làm đẹp"
                                           href="components/search-kocs09b8.html?careerCodes=2">
                                        <div class="img"><img alt="KOC làm đẹp" src="https://mykol.vn/demo/images/home/Top2.png" /></div>
                                        <div class="name">KOC làm đẹp</div>
                                    </a><a class="item-quick-search" title="Mẫu ảnh/Livesteam"
                                           href="components/search-kocsc330.html?careerCodes=20">
                                        <div class="img">
                                            <img alt="Mẫu ảnh/Livesteam" src="https://mykol.vn/demo/images/home/Top3.png" />
                                        </div>
                                        <div class="name">Mẫu ảnh/Livesteam</div>
                                    </a><a class="item-quick-search" title="KOC Mẹ và bé"
                                           href="components/search-kocse664.html?careerCodes=6">
                                        <div class="img">
                                            <img alt="KOC Mẹ và bé" src="https://mykol.vn/demo/images/home/Top4.png" />
                                        </div>
                                        <div class="name">KOC Mẹ và bé</div>
                                    </a><a class="item-quick-search" title="Xem tất cả"
                                           href="components/search-kocs.html">
                                        <div class="img"><img alt="Xem tất cả" src="https://mykol.vn/demo/images/home/Top5.png" /></div>
                                        <div class="name">Xem tất cả</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="theRecruitment" class="w-full">
                            <div class="container">
                                <div class="title-quick-search"><span>KOC Free Cast, mẫu Ảnh/Livestream</span></div>
                                <div class="p-dataview p-component p-dataview-list">
                                    <div class="p-dataview-content">
                                        <div class="p-grid grid p-nogutter grid-nogutter">
                                            <div class="md:col-6 item-recruitments item-post-koc cursor-pointer col-12 p-3">
                                                <div class="p-4 shadow-2 box relative">
                                                    <div class="absolute z-5 flex align-items-center" style="top: 10px; right: 15px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z">
                                                            </path>
                                                        </svg><span class="text-xl text-center inline-block ml-2"
                                                                    style="min-width: 18px;">37</span>
                                                    </div>
                                                    <div class="absolute z-5 flex align-items-center" style="top: 35px; right: 15px;">
                                                        <span class="text-center" style="width: 24px;">
                                                            <i class="pi-heart-fill text-2xl pi like-kol"></i>
                                                        </span><span class="text-xl text-center inline-block ml-2" style="min-width: 18px;">2</span>
                                                    </div>
                                                    <div class="box-info flex flex-wrap">
                                                        <a target="_blank" href="/post-kocs/An-Hoa/3313"
                                                           title="Nhận review free cast hoặc cast mini ">
                                                            <img width="116" height="145"
                                                                 src="https://api.mykol.vn/profile/3313/bfd1da43-c50b-4e23-a4b7-2345ab4bf264_1719460808092-resize.jpg"
                                                                 alt="Nhận review free cast hoặc cast mini "
                                                                 style="border-radius: 20px; object-fit: cover;">
                                                        </a>
                                                        <div class="info">
                                                            <a target="_blank" href="/post-kocs/An-Hoa/3313"
                                                               title="Nhận review free cast hoặc cast mini " class="title">
                                                                <h3 class="line-clamp-2">Nhận review free cast hoặc cast mini </h3>
                                                            </a>
                                                            <div class="social my-2 flex align-items-center">
                                                                <span class="ml-1">
                                                                    <img class="vertical-align-middle" width="29" height="27"
                                                                         src="https://mykol.vn/demo/images/home/icon-analytics.png"
                                                                         style="border-radius: 0px;">
                                                                </span><a href="https://www.tiktok.com/anzilla__" target="_blank" title="tiktok">
                                                                    <img class="ml-1 max-w-full md:w-auto vertical-align-middle" width="29"
                                                                         height="27" src="https://mykol.vn/demo/images/social/icon-tiktok.svg"
                                                                         style="border-radius: 0px;">
                                                                </a>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="line-clamp-3">
                                                                    <p>
                                                                        Mình nhận review mỹ phẩm, thời trang, lifestyle trên kênh TikTok nhỏ
                                                                        Cam kết video chỉn chu nhất có thể, không chậm deadline, không xoá bài,
                                                                        gắn giỏ vĩnh viễn, hỗ trợ ads code free
                                                                        Cast free hoặc mini cast tuỳ thoả thuận với brand. Rất hi vọng được hợp
                                                                        tác thành công với các brand ạ
                                                                        Zalo 0377225398
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer-recruitments flex mt-1 md:mt-2 flex-wrap">
                                                        <div class="tag">
                                                            <span>1k Follower</span><span>Hà Nội</span><span>
                                                                Làm
                                                                đẹp
                                                            </span><span>Thời trang</span><span>Lifestyle</span>
                                                        </div><a target="_blank"
                                                                 href="/post-kocs/An-Hoa/3313" title="Xem chi tiết">Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="md:col-6 item-recruitments item-post-koc cursor-pointer col-12 p-3">
                                                <div class="p-4 shadow-2 box relative">
                                                    <div class="absolute z-5 flex align-items-center" style="top: 10px; right: 15px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z">
                                                            </path>
                                                        </svg><span class="text-xl text-center inline-block ml-2"
                                                                    style="min-width: 18px;">49</span>
                                                    </div>
                                                    <div class="absolute z-5 flex align-items-center" style="top: 35px; right: 15px;">
                                                        <span class="text-center" style="width: 24px;">
                                                            <i class="pi-heart-fill text-2xl pi like-kol"></i>
                                                        </span><span class="text-xl text-center inline-block ml-2" style="min-width: 18px;">1</span>
                                                    </div>
                                                    <div class="box-info flex flex-wrap">
                                                        <a target="_blank" href="/post-kocs/Ngoc-Thuy/2685"
                                                           title="KOC Review Mỹ phẩm, Chăm sóc sắc đẹp">
                                                            <img width="116" height="145"
                                                                 src="https://api.mykol.vn/profile/2685/c4b066c5-c884-4858-9931-59a684a4beee_1714011033295-resize.jpg"
                                                                 alt="KOC Review Mỹ phẩm, Chăm sóc sắc đẹp"
                                                                 style="border-radius: 20px; object-fit: cover;">
                                                        </a>
                                                        <div class="info">
                                                            <a target="_blank" href="/post-kocs/Ngoc-Thuy/2685"
                                                               title="KOC Review Mỹ phẩm, Chăm sóc sắc đẹp" class="title">
                                                                <h3 class="line-clamp-2">KOC Review Mỹ phẩm, Chăm sóc sắc đẹp</h3>
                                                            </a>
                                                            <div class="social my-2 flex align-items-center">
                                                                <span class="ml-1">
                                                                    <img class="vertical-align-middle" width="29" height="27"
                                                                         src="https://mykol.vn/demo/images/home/icon-analytics.png"
                                                                         style="border-radius: 0px;">
                                                                </span><a href="https://www.tiktok.com/ngocthuy99tn" target="_blank"
                                                                          title="tiktok">
                                                                    <img class="ml-1 max-w-full md:w-auto vertical-align-middle"
                                                                         width="29" height="27" src="https://mykol.vn/demo/images/social/icon-tiktok.svg"
                                                                         style="border-radius: 0px;">
                                                                </a>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="line-clamp-3">
                                                                    <p>
                                                                        Chào mọi người, mình là KOC Ngọc Thúy , chuyên review Beauty, Makeup,
                                                                        Chăm sóc sắc đẹp. Uy tín đặt lên hàng đầu và nói KHÔNG với hàng kém chất
                                                                        lượng. Đảm bảo Reivew chân thật, cam kết có video demo sau 3-5 ngày nhận
                                                                        sản phẩm và gắn link sản phẩm và để video ở chế độ công khai, vĩnh viễn.
                                                                        Cảm ơn mọi người đã tin cậy .
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer-recruitments flex mt-1 md:mt-2 flex-wrap">
                                                        <div class="tag">
                                                            <span>20k Follower</span><span>Hà Nội</span><span>
                                                                Làm
                                                                đẹp
                                                            </span><span>Sức khỏe</span>
                                                        </div><a target="_blank"
                                                                 href="/post-kocs/Ngoc-Thuy/2685" title="Xem chi tiết">Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="md:col-6 item-recruitments item-post-koc cursor-pointer col-12 p-3">
                                                <div class="p-4 shadow-2 box relative">
                                                    <div class="absolute z-5 flex align-items-center" style="top: 10px; right: 15px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z">
                                                            </path>
                                                        </svg><span class="text-xl text-center inline-block ml-2"
                                                                    style="min-width: 18px;">42</span>
                                                    </div>
                                                    <div class="absolute z-5 flex align-items-center" style="top: 35px; right: 15px;">
                                                        <span class="text-center" style="width: 24px;">
                                                            <i class="pi-heart-fill text-2xl pi like-kol"></i>
                                                        </span><span class="text-xl text-center inline-block ml-2" style="min-width: 18px;">0</span>
                                                    </div>
                                                    <div class="box-info flex flex-wrap">
                                                        <a target="_blank" href="/post-kocs/Tien-Thao/3371"
                                                           title="Nhận review freecast: quần áo , mỹ phẩm, giày dép,văn phòng phẩm…">
                                                            <img width="116" height="145"
                                                                 src="https://api.mykol.vn/profile/3371/715899c2-9aa9-4de5-821b-c98dfdb028f3_1719676932924-resize.jpg"
                                                                 alt="Nhận review freecast: quần áo , mỹ phẩm, giày dép,văn phòng phẩm…"
                                                                 style="border-radius: 20px; object-fit: cover;">
                                                        </a>
                                                        <div class="info">
                                                            <a target="_blank" href="/post-kocs/Tien-Thao/3371"
                                                               title="Nhận review freecast: quần áo , mỹ phẩm, giày dép,văn phòng phẩm…"
                                                               class="title">
                                                                <h3 class="line-clamp-2">
                                                                    Nhận review freecast: quần áo , mỹ phẩm, giày dép,văn
                                                                    phòng phẩm…
                                                                </h3>
                                                            </a>
                                                            <div class="social my-2 flex align-items-center">
                                                                <span class="ml-1">
                                                                    <img class="vertical-align-middle" width="29" height="27"
                                                                         src="https://mykol.vn/demo/images/home/icon-analytics.png"
                                                                         style="border-radius: 0px;">
                                                                </span><a href="https://www.tiktok.com/tienthaok5" target="_blank"
                                                                          title="tiktok">
                                                                    <img class="ml-1 max-w-full md:w-auto vertical-align-middle"
                                                                         width="29" height="27" src="https://mykol.vn/demo/images/social/icon-tiktok.svg"
                                                                         style="border-radius: 0px;">
                                                                </a>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="line-clamp-3">
                                                                    <p>
                                                                        GÓC NHẬN REVIEW FREEChào mọi người ạ hiện tại em có một kênh tiktok nhỏ
                                                                        muốn nhận reiew để học hỏi thêm kinh nghiệm ạ .&nbsp; Sản phầm nhận
                                                                        review : quần áo , mỹ phẩm, giày dép,văn phòng phẩm…&nbsp;Em nhận Review
                                                                        miễn phí để tích luỹ thêm kinh nghiệm ạ ( yêu cầu là cần uy tín ạ), demo
                                                                        em sẽ gửi sau 4-6 ngày ạ&nbsp; Vì là kênh nhỏ và mới chuyển hướng nên em
                                                                        ko cam kết view cao nhưng em sẽ cố gắng đầu tư chất lượng video cao nhất
                                                                        trong khả năng cho phép ạ&nbsp; Nếu thấy phù hợp , các shop liên hệ qua
                                                                        mess này giúp em ạ &nbsp;Cảm ơn anh chị đã dành thơi gian đọc qua bài
                                                                        viết của em . Rất vui lòng cùng hợp tác và phát triển cùng các shop ạ
                                                                        &nbsp;
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer-recruitments flex mt-1 md:mt-2 flex-wrap">
                                                        <div class="tag">
                                                            <span>8k Follower</span><span>Hà Nội</span><span>
                                                                Thời
                                                                trang
                                                            </span><span>Mẫu Ảnh</span><span>Làm đẹp</span>
                                                        </div><a target="_blank"
                                                                 href="/post-kocs/Tien-Thao/3371" title="Xem chi tiết">Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="md:col-6 item-recruitments item-post-koc cursor-pointer col-12 p-3">
                                                <div class="p-4 shadow-2 box relative">
                                                    <div class="absolute z-5 flex align-items-center" style="top: 10px; right: 15px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z">
                                                            </path>
                                                        </svg><span class="text-xl text-center inline-block ml-2"
                                                                    style="min-width: 18px;">22</span>
                                                    </div>
                                                    <div class="absolute z-5 flex align-items-center" style="top: 35px; right: 15px;">
                                                        <span class="text-center" style="width: 24px;">
                                                            <i class="pi-heart-fill text-2xl pi like-kol"></i>
                                                        </span><span class="text-xl text-center inline-block ml-2" style="min-width: 18px;">1</span>
                                                    </div>
                                                    <div class="box-info flex flex-wrap">
                                                        <a target="_blank" href="/post-kocs/Thuy-Linh/3404"
                                                           title="Em muốn hợp tác với các nhãn hàng về thời trang và làm đẹp ạ">
                                                            <img width="116" height="145"
                                                                 src="https://api.mykol.vn/profile/3404/cfccb76d-34be-4e60-be1c-4746d7ae819a_1719888564768-resize.jpg"
                                                                 alt="Em muốn hợp tác với các nhãn hàng về thời trang và làm đẹp ạ"
                                                                 style="border-radius: 20px; object-fit: cover;">
                                                        </a>
                                                        <div class="info">
                                                            <a target="_blank" href="/post-kocs/Thuy-Linh/3404"
                                                               title="Em muốn hợp tác với các nhãn hàng về thời trang và làm đẹp ạ"
                                                               class="title">
                                                                <h3 class="line-clamp-2">
                                                                    Em muốn hợp tác với các nhãn hàng về thời trang và làm
                                                                    đẹp ạ
                                                                </h3>
                                                            </a>
                                                            <div class="social my-2 flex align-items-center">
                                                                <span class="ml-1">
                                                                    <img class="vertical-align-middle" width="29" height="27"
                                                                         src="https://mykol.vn/demo/images/home/icon-analytics.png"
                                                                         style="border-radius: 0px;">
                                                                </span><a href="https://www.tiktok.com/lynhhy_?_t=8nfuxfIy2PH&amp;_r=1"
                                                                          target="_blank" title="tiktok">
                                                                    <img class="ml-1 max-w-full md:w-auto vertical-align-middle" width="29"
                                                                         height="27" src="https://mykol.vn/demo/images/social/icon-tiktok.svg"
                                                                         style="border-radius: 0px;">
                                                                </a>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="line-clamp-3">
                                                                    <p>
                                                                        Chào các nhãn hàng thời trang và làm đẹp,

                                                                        Tôi là Thuỳ Linh, một người đam mê thời trang và làm đẹp trong lĩnh vực
                                                                        này. Với sự sáng tạo và niềm đam mê mãnh liệt, tôi luôn cập nhật xu
                                                                        hướng mới nhất và không ngừng tìm kiếm cách thức sáng tạo để thể hiện
                                                                        phong cách cá nhân.
                                                                        Tôi tin rằng, với khả năng sáng tạo và kinh nghiệm của mình, tôi có thể
                                                                        mang đến giá trị và sự đột phá cho nhãn hàng của bạn. Rất mong được hợp
                                                                        tác và cùng nhau tạo nên những dự án thành công!

                                                                        Trân trọng,
                                                                        Thuỳ Linh
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer-recruitments flex mt-1 md:mt-2 flex-wrap">
                                                        <div class="tag">
                                                            <span>1k Follower</span><span>Hà Nội</span><span>
                                                                Thời
                                                                trang
                                                            </span><span>Âm nhạc &amp; Nhảy</span><span>Làm đẹp</span>
                                                        </div><a target="_blank" href="/post-kocs/Thuy-Linh/3404" title="Xem chi tiết">
                                                            Xem chi
                                                            tiết
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="md:col-6 item-recruitments item-post-koc cursor-pointer col-12 p-3">
                                                <div class="p-4 shadow-2 box relative">
                                                    <div class="absolute z-5 flex align-items-center" style="top: 10px; right: 15px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z">
                                                            </path>
                                                        </svg><span class="text-xl text-center inline-block ml-2"
                                                                    style="min-width: 18px;">20</span>
                                                    </div>
                                                    <div class="absolute z-5 flex align-items-center" style="top: 35px; right: 15px;">
                                                        <span class="text-center" style="width: 24px;">
                                                            <i class="pi-heart-fill text-2xl pi like-kol"></i>
                                                        </span><span class="text-xl text-center inline-block ml-2" style="min-width: 18px;">0</span>
                                                    </div>
                                                    <div class="box-info flex flex-wrap">
                                                        <a target="_blank"
                                                           href="/post-kocs/Nguyen-Trung-Hieu/1470" title="kol kiêm luôn model ạ ?">
                                                            <img width="116" height="145"
                                                                 src="https://api.mykol.vn/profile/1470/a2e5b5d4-f0f4-4e21-943b-2166cf35aa5d_1704637351625-resize.jpg"
                                                                 alt="kol kiêm luôn model ạ ?"
                                                                 style="border-radius: 20px; object-fit: cover;">
                                                        </a>
                                                        <div class="info">
                                                            <a target="_blank" href="/post-kocs/Nguyen-Trung-Hieu/1470"
                                                               title="kol kiêm luôn model ạ ?" class="title">
                                                                <h3 class="line-clamp-2">kol kiêm luôn model ạ ?</h3>
                                                            </a>
                                                            <div class="social my-2 flex align-items-center">
                                                                <span class="ml-1">
                                                                    <img class="vertical-align-middle" width="29" height="27"
                                                                         src="https://mykol.vn/demo/images/home/icon-analytics.png"
                                                                         style="border-radius: 0px;">
                                                                </span><a href="https://www.tiktok.com/tunhine279" target="_blank"
                                                                          title="tiktok">
                                                                    <img class="ml-1 max-w-full md:w-auto vertical-align-middle"
                                                                         width="29" height="27" src="https://mykol.vn/demo/images/social/icon-tiktok.svg"
                                                                         style="border-radius: 0px;">
                                                                </a><a target="_blank"
                                                                       href="https://m.facebook.com/trHiU279?mibextid=JRoKGi">
                                                                    <img width="29"
                                                                         height="27" src="https://mykol.vn/demo/images/social/icon-facebook.svg"
                                                                         class="ml-1 max-w-full md:w-auto vertical-align-middle"
                                                                         style="border-radius: 0px;">
                                                                </a>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="line-clamp-3">
                                                                    <p>
                                                                        Em nhận các job review checkin quay chụp v..v.v.
                                                                        các nhãn hàng thấy phù hợp thì liên hệ giúp em qua zl : 0978458312 ạ
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer-recruitments flex mt-1 md:mt-2 flex-wrap">
                                                        <div class="tag">
                                                            <span>0 Follower</span><span>Hà Nội</span><span>
                                                                Thời
                                                                trang
                                                            </span><span>Làm đẹp</span><span>Mẫu Ảnh</span>
                                                        </div><a target="_blank"
                                                                 href="/post-kocs/Nguyen-Trung-Hieu/1470" title="Xem chi tiết">Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="md:col-6 item-recruitments item-post-koc cursor-pointer col-12 p-3">
                                                <div class="p-4 shadow-2 box relative">
                                                    <div class="absolute z-5 flex align-items-center" style="top: 10px; right: 15px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z">
                                                            </path>
                                                        </svg><span class="text-xl text-center inline-block ml-2"
                                                                    style="min-width: 18px;">33</span>
                                                    </div>
                                                    <div class="absolute z-5 flex align-items-center" style="top: 35px; right: 15px;">
                                                        <span class="text-center" style="width: 24px;">
                                                            <i class="pi-heart-fill text-2xl pi like-kol"></i>
                                                        </span><span class="text-xl text-center inline-block ml-2" style="min-width: 18px;">1</span>
                                                    </div>
                                                    <div class="box-info flex flex-wrap">
                                                        <a target="_blank" href="/post-kocs/Kieu-Anh/3443"
                                                           title="Nhận review free">
                                                            <img width="116" height="145"
                                                                 src="https://api.mykol.vn/profile/3443/b6a11327-d3ff-46a3-9cb6-b7fc829b27ae_1720100789575-resize.jpg"
                                                                 alt="Nhận review free" style="border-radius: 20px; object-fit: cover;">
                                                        </a>
                                                        <div class="info">
                                                            <a target="_blank" href="/post-kocs/Kieu-Anh/3443"
                                                               title="Nhận review free" class="title">
                                                                <h3 class="line-clamp-2">Nhận review free</h3>
                                                            </a>
                                                            <div class="social my-2 flex align-items-center">
                                                                <span class="ml-1">
                                                                    <img class="vertical-align-middle" width="29" height="27"
                                                                         src="https://mykol.vn/demo/images/home/icon-analytics.png"
                                                                         style="border-radius: 0px;">
                                                                </span><a href="https://www.tiktok.com/dothuykieu.26" target="_blank"
                                                                          title="tiktok">
                                                                    <img class="ml-1 max-w-full md:w-auto vertical-align-middle"
                                                                         width="29" height="27" src="https://mykol.vn/demo/images/social/icon-tiktok.svg"
                                                                         style="border-radius: 0px;">
                                                                </a><a target="_blank"
                                                                       href="https://www.facebook.com/dothuykieu26?mibextid=LQQJ4d">
                                                                    <img width="29"
                                                                         height="27" src="https://mykol.vn/demo/images/social/icon-facebook.svg"
                                                                         class="ml-1 max-w-full md:w-auto vertical-align-middle"
                                                                         style="border-radius: 0px;">
                                                                </a>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="line-clamp-3">
                                                                    <p>
                                                                        Nick của em là fl thật, tương tác thật, em cam kết tất cả đều là thật,
                                                                        trước em có đi quay phim nên lượt tương tác khá ổn định.
                                                                        Em thiên về youtube nhiều hơn.
                                                                        Nên giờ quay lại muốn xây dựng kênh theo hướng review.&nbsp;
                                                                        Sau là quay phim có sản phẩm xuất hiện trong phim.
                                                                        Nên em nhận review free cast và nhận sản phẩm không hoàn về để trải
                                                                        nghiệm, review và cũng là đạo cụ để em quay phim.
                                                                        Các anh chị tuyển KOC nghiêm túc thì cho em xin phép được đăng kí nhận
                                                                        sản phẩm không hoàn và free cast với ạ.
                                                                        Chứ các anh chị đừng vào hỏi mua nick hay fame ảo nữa ạ. Né em ra với ạ.
                                                                        Em cảm ơn.
                                                                        Em cần job và muốn nghiêm túc làm job ạ
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer-recruitments flex mt-1 md:mt-2 flex-wrap">
                                                        <div class="tag">
                                                            <span>127k Follower</span><span>Hà Nội</span><span>
                                                                Làm
                                                                đẹp
                                                            </span><span>Thời trang</span><span>Nghệ thuật</span>
                                                        </div><a target="_blank"
                                                                 href="/post-kocs/Kieu-Anh/3443" title="Xem chi tiết">Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-theRecruitment text-center">
                                    <a href="/post-kocs" title="Xem tất cả">
                                        <span>
                                            Xem tất cả <img src="https://mykol.vn/demo/images/home/icon-arr-view-more.png" alt="Xem tất cả">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-search text-center md:my-6 my-2">
                            <div class="title-gradient">Tìm Kiếm Influencer</div>
                            <div class="title-form-search shadow-1">
                                Tìm kiếm người có ảnh hưởng trên Tiktok để quảng bá
                                cho nhãn hàng của bạn
                            </div>
                            <form class="flex bg-white shadow-1 relative z-5 align-items-center justify-content-between flex-wrap">
                                <div class="item-form-search select-none careerCodes cursor-pointer text-left relative">
                                    <div class="absolute w-full h-full left-0 top-0" style="z-index:15"></div><label class="cursor-pointer">Lĩnh vực</label><span>Chọn lĩnh vực</span>
                                </div>
                                <div class="item-form-search bookingPrice cursor-pointer text-left relative">
                                    <div class="absolute w-full h-full left-0 top-0" style="z-index:15"></div><label class="cursor-pointer">Giá booking</label><span>Chọn giá Booking</span>
                                </div>
                                <button class="btn cursor-pointer" type="button" onclick="window.location.href='/Search/Index';"></button>
                            </form>
                        </div>
                        <div id="search-kol-home" class="w-full bg-white">
                            <div class="container">
                                <div class="card md:pb-6 pb-3 pl-3 pr-3 shadow-1 md:mt-6 mt-3 md:mb-3 my-3 border-round-2xl w-full">
                                    <div class="custom-dataview p-component p-dataview-list">
                                        <div class="custom-dataview-content">
                                            <div class="custom-grid-container">
                                                @if (Model != null && Model.Any())
                                                {
                                                    @foreach (var influencer in Model.Take(4))
                                                    {
                                                        <div class="custom-col horizontal-md cursor-pointer horizontal-sm horizontal-full p-3 relative">
                                                            <a target="_blank" class="block" href="/components/detail-candidate/?mask=@influencer.Name&amp;id=@influencer.PersonalIdentificationNumber" title="@influencer.Name">
                                                                <div class="image text-center relative border-round-xl overflow-hidden">
                                                                    @if (influencer.SocialMedias != null)
                                                                    {
                                                                        @foreach (var socialMedia in influencer.SocialMedias)
                                                                        {
                                                                            <div class="followers align-items-center text-white absolute border-round-3xl flex">
                                                                                <i class="fa-brands fa-facebook" style="color: #74C0FC;"></i>
                                                                            </div>
                                                                            <img width="270" height="330" class="max-w-full w-full vertical-align-middle"
                                                                                 src="https://localhost:7290/uploads/avatars/@(socialMedia.SocialMediaImg ?? "default-avatar.jpg")"
                                                                                 loading="lazy" alt="@influencer.Name">
                                                                        }
                                                                    }
                                                                    <div class="title text-left px-4 pb-4 w-full absolute">
                                                                        <h3 class="name text-white capitalize mb-0 line-clamp-1">@influencer.Name</h3>
                                                                        <span class="city text-white">@influencer.DateOfBirth.ToString("d")</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
                                                                <div class="social flex align-items-center">
                                                                    @if (influencer.SocialMedias != null)
                                                                    {
                                                                        @foreach (var socialMedia in influencer.SocialMedias)
                                                                        {
                                                                            <a href="@socialMedia.SocialMediaLink" target="_blank" title="@socialMedia.SocialMediaName">
                                                                                <i class="fa-brands fa-facebook" style="color: #74C0FC;"></i>
                                                                            </a>
                                                                        }
                                                                    }
                                                                    <span class="ml-1">
                                                                        <i class="fa-brands fa-tiktok" style="color: #000000;"></i>
                                                                    </span>
                                                                </div>
                                                                <div class="price">@influencer.BookingPrice.ToString("N0") VNĐ</div>
                                                            </div>
                                                            <div class="careers line-clamp-2">@influencer.Gender</div>
                                                            <div class="contact-info">
                                                                @if (influencer.User != null)
                                                                {
                                                                    <h5>Thông tin liên lạc</h5>
                                                                    <p>Email: @influencer.User.Email</p>
                                                                    <p>Số điện thoại: @influencer.User.Phonenumber</p>
                                                                    <p>Thành Phố: @influencer.User.Address</p>
                                                                }
                                                                else
                                                                {
                                                                    <p>Chưa có thông tin cụ thể</p>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>No KOCs available to display.</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right mt-4 mr-3">
                                        <a class="view-all-koc inline-block" onclick="window.location.href='/Search/Index';"
                                            title="Xem tất cả">
                                            <span>
                                                Xem tất cả <i class="pi pi-angle-double-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="careers" class="w-full"></div>
                        <div id="careers-home" class="w-full">
                            <div class="container">
                                <div class="box-careers-home shadow-1">
                                    <div class="flex flex-wrap justify-content-between bg-white">
                                        <div class="item-careers-home">
                                            <a class="block relative"
                                               href="components/search-kocsca6e.html?careerCodes=1" title="Ẩm thực">
                                                <div class="image hover-zoom">
                                                    <img class="max-w-full w-full"
                                                         alt="Ẩm thực" src="https://mykol.vn/demo/images/home/career-1.png" />
                                                </div>
                                                <div class="info">
                                                    <h3>Ẩm thực</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-careers-home">
                                            <a class="block relative"
                                               href="components/search-kocs09b8.html?careerCodes=2" title="Làm đẹp">
                                                <div class="image hover-zoom">
                                                    <img class="max-w-full w-full"
                                                         alt="Làm đẹp" src="https://mykol.vn/demo/images/home/career-2.png" />
                                                </div>
                                                <div class="info">
                                                    <h3>Làm đẹp</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-careers-home">
                                            <a class="block relative"
                                               href="components/search-kocs0f11.html?careerCodes=3" title="Thời trang">
                                                <div class="image hover-zoom">
                                                    <img class="max-w-full w-full"
                                                         alt="Thời trang" src="https://mykol.vn/demo/images/home/career-3.png" />
                                                </div>
                                                <div class="info">
                                                    <h3>Thời trang</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-careers-home">
                                            <a class="block relative"
                                               href="components/search-kocsef02.html?careerCodes=4" title="Sức khỏe">
                                                <div class="image hover-zoom">
                                                    <img class="max-w-full w-full"
                                                         alt="Sức khỏe" src="https://mykol.vn/demo/images/home/career-4.png" />
                                                </div>
                                                <div class="info">
                                                    <h3>Sức khỏe</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-careers-home">
                                            <a class="block relative"
                                               href="components/search-kocsf3bf.html?careerCodes=5" title="Lifestyle">
                                                <div class="image hover-zoom">
                                                    <img class="max-w-full w-full"
                                                         alt="Lifestyle" src="https://mykol.vn/demo/images/home/career-5.png" />
                                                </div>
                                                <div class="info">
                                                    <h3>Lifestyle</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-careers-home">
                                            <a class="block relative"
                                               href="components/search-kocse664.html?careerCodes=6" title="Mẹ và bé">
                                                <div class="image hover-zoom">
                                                    <img class="max-w-full w-full"
                                                         alt="Mẹ và bé" src="https://mykol.vn/demo/images/home/career-6.png" />
                                                </div>
                                                <div class="info">
                                                    <h3>Mẹ và bé</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-careers-home">
                                            <a class="block relative"
                                               href="components/search-kocs6ea9.html?careerCodes=7" title="Du lịch">
                                                <div class="image hover-zoom">
                                                    <img class="max-w-full w-full"
                                                         alt="Du lịch" src="https://mykol.vn/demo/images/home/career-7.png" />
                                                </div>
                                                <div class="info">
                                                    <h3>Du lịch</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-careers-home">
                                            <a class="block relative"
                                               href="components/search-kocsa947.html?careerCodes=8" title="Công nghệ">
                                                <div class="image hover-zoom">
                                                    <img class="max-w-full w-full"
                                                         alt="Công nghệ" src="https://mykol.vn/demo/images/home/career-8.png" />
                                                </div>
                                                <div class="info">
                                                    <h3>Công nghệ</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="adv-mykol" class="md:pt-5 mt-2 w-full">
                            <div class="container">
                                <h3 class="title-home">Mọi người nhắc về chúng tôi</h3>
                                <p class="desc-home">
                                    Hàng trăm chuyên gia marketing, người có ảnh hưởng, báo chí tin
                                    tưởng chúng tôi
                                </p>
                                <div class="flex md:flex-row flex-column box-adv-mykol">
                                    <a target="_blank"
                                       href="../www.tiktok.com/%40judythemarketer/video/7325437660087061762.html"
                                       class="relative item-adv-mykol cursor-pointer w-full">
                                        <div class="hover-zoom image">
                                            <img class="max-w-full w-full"
                                                 src="https://mykol.vn/demo/images/KOL/kol-1.png" />
                                        </div>
                                    </a><a target="_blank"
                                           href="../www.tiktok.com/%40xuan_affiliate/video/7327267593713175826.html"
                                           class="relative item-adv-mykol cursor-pointer w-full">
                                        <div class="hover-zoom image">
                                            <img class="max-w-full w-full"
                                                 src="https://mykol.vn/demo/images/KOL/kol-2.png" />
                                        </div>
                                    </a><a target="_blank"
                                           href="../www.tiktok.com/%40_tuanhoang_/video/7327633546410052871.html"
                                           class="relative item-adv-mykol cursor-pointer w-full">
                                        <div class="hover-zoom image">
                                            <img class="max-w-full w-full"
                                                 src="https://mykol.vn/demo/images/KOL/kol-3.png" />
                                        </div>
                                    </a><a target="_blank"
                                           href="../www.tiktok.com/%40vietnamdigitalreview/video/7304294909362654466.html"
                                           class="relative item-adv-mykol cursor-pointer w-full">
                                        <div class="hover-zoom image">
                                            <img class="max-w-full w-full"
                                                 src="https://mykol.vn/demo/images/KOL/kol-4.png" />
                                        </div>
                                    </a><a target="_blank"
                                           href="../www.tiktok.com/%40judythemarketer/video/7305023638900575490.html"
                                           class="relative item-adv-mykol cursor-pointer w-full">
                                        <div class="hover-zoom image">
                                            <img class="max-w-full w-full"
                                                 src="https://mykol.vn/demo/images/KOL/kol-5.png" />
                                        </div>
                                    </a>
                                </div>
                                <div class="grid align-items-center container news-sources">
                                    <div class="col-6 md:col-4 lg:col-4 xl:col-2 source-item">
                                        <img height="20"
                                             src="https://mykol.vn/demo/images/home/logo-dantri.png" class="fade show" />
                                    </div>
                                    <div class="col-6 md:col-4 lg:col-4 xl:col-2 source-item">
                                        <img height="31"
                                             src="https://mykol.vn/demo/images/home/logo-cafebiz.png" class="fade show" />
                                    </div>
                                    <div class="col-6 md:col-4 lg:col-4 xl:col-2 source-item">
                                        <img height="20"
                                             src="https://mykol.vn/demo/images/home/logo-vtv.png" class="fade show" />
                                    </div>
                                    <div class="col-6 md:col-4 lg:col-4 xl:col-2 source-item">
                                        <img height="18"
                                             src="https://mykol.vn/demo/images/home/logo-vietnamplus.png" class="fade show" />
                                    </div>
                                    <div class="col-6 md:col-4 lg:col-4 xl:col-2 source-item">
                                        <img height="25"
                                             src="https://mykol.vn/demo/images/home/logo-vnexpress.png" class="fade show" />
                                    </div>
                                    <div class="col-6 md:col-4 lg:col-4 xl:col-2 source-item">
                                        <img height="31"
                                             src="https://mykol.vn/demo/images/home/logo-ictnews.png" class="fade show" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="brand-woking" class="w-full">
                            <div class="container">
                                <h3 class="title-home">
                                    800+ Nhãn hàng đã làm việc cùng người có ảnh hưởng trên MYKOL
                                </h3>
                                <div class="box-brand-woking">
                                    <div class="flex md:flex-row flex-column bg-white">
                                        <div class="w-full item-brand-woking">
                                            <h3>Trải nghiệm tuyệt vời</h3>
                                            <div>
                                                Trước đây mình hay tìm và làm việc với KOC, KOL thông qua các group
                                                facebook. Tuy nhiên, khi biết đến MYKOL, mọi thứ minh bạch hơn, dễ dàng
                                                hơn, hiệu quả cao hơn,.. và tuyệt vời hơn rất nhiều!
                                            </div>
                                            <p class="mb-0">Nguyễn Tân - Marketing Manager tại Cassia Cosmetic</p>
                                        </div>
                                        <div class="w-full item-brand-woking">
                                            <h3>Tiết kiệm chi phí</h3>
                                            <div>
                                                Công ty tôi thay vì trước đây cần 3 nhân sự để triển khai chiến dịch
                                                Influencer Marketing, thì giờ với MYKOL chỉ cần 1 nhân sự duy nhất. Tinh
                                                gọn, tiết kiệm tiền bạc và thời gian.
                                            </div>
                                            <p class="mb-0">Phạm Thương - PR Manager tại Laneige</p>
                                        </div>
                                        <div class="w-full item-brand-woking">
                                            <h3>Công nghệ tân tiến</h3>
                                            <div>
                                                Thay vì ngồi hàng giờ trên Tiktok, Facebook để tìm người có ảnh hưởng
                                                và mất công đi hỏi giá từng bạn. Thì giờ tôi chỉ cần 2, 3 click trên
                                                MYKOL. Khá là bất ngờ!
                                            </div>
                                            <p class="mb-0">Minh Thư - Brand Manager tại mỹ phẩm Hàn Quốc Innisfree</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="question-and-answer" class="w-full">
                            <div class="container">
                                <div class="box-question-and-answer">
                                    <div class="box overflow-hidden">
                                        <div class="button-container p-2 cursor-pointer select-none">
                                            <div class="shadow-1 flex justify-content-between align-items-center border-round-3xl bg-white">
                                                <p class="title">Influencer Marketing là gì?</p><img class=""
                                                                                                     src="https://mykol.vn/demo/images/home/icon-plus.png" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="desc-container bg-white" style="height:0px">
                                            <p class="desc-content">
                                                Influencer Marketing là hình thức tiếp thị bằng cách
                                                sử dụng sức ảnh hưởng của người trong xã hội để truyền tải thông tin của
                                                doanh nghiệp đến với khách hàng mục tiêu.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="box overflow-hidden">
                                        <div class="button-container p-2 cursor-pointer select-none">
                                            <div class="shadow-1 flex justify-content-between align-items-center border-round-3xl bg-white">
                                                <p class="title">
                                                    Tại sao công ty/nhãn hàng nên áp dụng influencer
                                                    marketing?
                                                </p><img class="" src="https://mykol.vn/demo/images/home/icon-plus.png"
                                                         alt="plus" />
                                            </div>
                                        </div>
                                        <div class="desc-container bg-white" style="height:0px">
                                            <p class="desc-content">
                                                92% người tiêu dùng tin tưởng vào sự giới thiệu của
                                                người quen trong khi chỉ có 33% tin vào quảng cáo online truyền thống.
                                                Thông qua influencer marketing, nhãn hàng và nhà quảng cáo có thể tăng
                                                nhận diện thương hiệu, xây dựng niềm tin và thúc đẩy doanh số bán hàng.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="box overflow-hidden">
                                        <div class="button-container p-2 cursor-pointer select-none">
                                            <div class="shadow-1 flex justify-content-between align-items-center border-round-3xl bg-white">
                                                <p class="title">Ai là người ảnh hưởng (influencer)?</p><img class=""
                                                                                                             src="https://mykol.vn/demo/images/home/icon-plus.png" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="desc-container bg-white" style="height:0px">
                                            <p class="desc-content">
                                                Người ảnh hưởng là những người có một sự ảnh hưởng
                                                với một lượng fan/follower đáng kể trên mạng xã hội. Nền tảng MYKOL tập
                                                trung vào người có ảnh hưởng trên nền tảng Tiktok.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="box overflow-hidden">
                                        <div class="button-container p-2 cursor-pointer select-none">
                                            <div class="shadow-1 flex justify-content-between align-items-center border-round-3xl bg-white">
                                                <p class="title">Tìm người có ảnh hưởng như thế nào?</p><img class=""
                                                                                                             src="https://mykol.vn/demo/images/home/icon-plus.png" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="desc-container bg-white" style="height:0px">
                                            <p class="desc-content">
                                                Bắt đầu bằng cách xác định đối tượng mục tiêu của
                                                bạn và nền tảng họ sử dụng. Sau đó, sử dụng công cụ tiếp thị người ảnh
                                                hưởng MYKOL để tìm kiếm những người có ảnh hưởng trong lĩnh vực của bạn.
                                                Sử dụng giới tính, giá cả, vị trí và các bộ lọc khác để thu hẹp những
                                                người có ảnh hưởng có liên quan càng nhiều càng tốt. Sau khi tìm thấy
                                                người có ảnh hưởng mà bạn muốn hợp tác, bạn chỉ cần mua một trong các
                                                gói dịch vụ trực tiếp qua hồ sơ của họ.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="box overflow-hidden">
                                        <div class="button-container p-2 cursor-pointer select-none">
                                            <div class="shadow-1 flex justify-content-between align-items-center border-round-3xl bg-white">
                                                <p class="title">
                                                    Chi phí một chiến dịch Influencer Marketing là bao
                                                    nhiêu?
                                                </p><img class="" src="https://mykol.vn/demo/images/home/icon-plus.png"
                                                         alt="plus" />
                                            </div>
                                        </div>
                                        <div class="desc-container bg-white" style="height:0px">
                                            <p class="desc-content">
                                                Chi phí cho việc tiếp thị người ảnh hưởng rất khác
                                                nhau tùy thuộc vào các yếu tố như phạm vi tiếp cận, vị trí thích hợp và
                                                tỷ lệ tương tác của người ảnh hưởng. Những người có ảnh hưởng vi mô với
                                                lượng người theo dõi nhỏ hơn có thể tính phí ít hơn những người có ảnh
                                                hưởng vĩ mô hoặc người nổi tiếng. Một số người có ảnh hưởng có thể làm
                                                việc theo từng bài đăng, trong khi những người khác lại thích quan hệ
                                                đối tác liên tục. Nếu bạn đã cân nhắc ngân sách, hãy cân nhắc sử dụng
                                                các bộ lọc giá có trong công cụ tìm kiếm của MYKOL để thu hẹp những
                                                người có ảnh hưởng phù hợp với ngân sách của bạn, điều này sẽ giúp bạn
                                                tiết kiệm thời gian trong quá trình khám phá người có ảnh hưởng.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="box overflow-hidden">
                                        <div class="button-container p-2 cursor-pointer select-none">
                                            <div class="shadow-1 flex justify-content-between align-items-center border-round-3xl bg-white">
                                                <p class="title">Chi phí bao nhiêu khi dùng MYKOL?</p><img class=""
                                                                                                           src="https://mykol.vn/demo/images/home/icon-plus.png" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="desc-container bg-white" style="height:0px">
                                            <p class="desc-content">
                                                Chi phí do bạn trực tiếp thảo luận cùng người có ảnh
                                                hưởng, MYKOL chỉ thu phí % nền tảng, ngoài ra không phát sinh bất cứ chi
                                                phí nào khác.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="zalo-fixed">
                        <a href="../zalo.me/0908141233.html" target="_blank">
                            <img src="https://mykol.vn/demo/images/social/zalo-icon.png" alt="zalo" />
                        </a>
                    </div>
                </div>
              
            </div>
            <div class="layout-mask"></div>
        </div>
    </div>
@*     <script id="__NEXT_DATA__"
            type="application/json">{"props":{"pageProps":{}},"page":"/","query":{},"buildId":"1hnPLuHKtEE3djqGttqdh","runtimeConfig":{"contextPath":"","uploadPath":"/api/upload","url":"https://api.mykol.vn","siteSEO":"https://mykol.vn","path":"/api/kols/","pathV2":"/api/v2/kols/"},"nextExport":true,"autoExport":true,"isFallback":false,"scriptLoader":[]}
        </script> *@
</body>

</html>