@model api.Models.Influencer

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh sửa hồ sơ công ty</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <style>
        body {
            padding-top: 20px;
            background: black;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .card {
            margin-bottom: 30px;
        }

        .overflow-hidden {
            overflow: hidden !important;
        }

        .p-0 {
            padding: 0 !important;
        }

        .mt-n5 {
            margin-top: -3rem !important;
        }

        .linear-gradient {
            background-image: linear-gradient(#50b2fc,#f44c66);
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .align-items-center {
            align-items: center !important;
        }

        .justify-content-center {
            justify-content: center !important;
        }

        .d-flex {
            display: flex !important;
        }

        .rounded-2 {
            border-radius: 7px !important;
        }

        .bg-light-info {
            --bs-bg-opacity: 1;
            background-color: rgba(235,243,254,1) !important;
        }

        .card {
            margin-bottom: 30px;
        }

        .position-relative {
            position: relative !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }

        .overflow-hidden {
            overflow: hidden !important;
        }

        .border {
            border: 1px solid #ebf1f6 !important;
        }

        .fs-6 {
            font-size: 1.25rem !important;
        }

        .mb-2 {
            margin-bottom: 0.5rem !important;
        }

        .d-block {
            display: block !important;
        }

        a {
            text-decoration: none;
        }

        .user-profile-tab .nav-item .nav-link.active {
            color: #5d87ff;
            border-bottom: 2px solid #5d87ff;
        }

        .mb-9 {
            margin-bottom: 20px !important;
        }

        .fw-semibold {
            font-weight: 600 !important;
        }

        .fs-4 {
            font-size: 1rem !important;
        }

        .card, .bg-light {
            box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        }

        .fs-2 {
            font-size: .75rem !important;
        }

        .rounded-4 {
            border-radius: 4px !important;
        }

        .ms-7 {
            margin-left: 30px !important;
        }
    </style>
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container">
        <div class="card overflow-hidden">
            <div class="card-body p-0">
                <img src="https://www.bootdey.com/image/1352x300/FF7F50/000000" alt="" class="img-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 order-lg-1 order-2">
                        <div class="d-flex align-items-center justify-content-around m-4">
                            <div class="text-center">
                                <i class="fa fa-file fs-6 d-block mb-2"></i>
                                <h4 class="mb-0 fw-semibold lh-1">938</h4>
                                <p class="mb-0 fs-4">Posts</p>
                            </div>
                            <div class="text-center">
                                <i class="fa fa-user fs-6 d-block mb-2"></i>
                                <h4 class="mb-0 fw-semibold lh-1">3,586</h4>
                                <p class="mb-0 fs-4">Followers</p>
                            </div>
                            <div class="text-center">
                                <i class="fa fa-check fs-6 d-block mb-2"></i>
                                <h4 class="mb-0 fw-semibold lh-1">2,659</h4>
                                <p class="mb-0 fs-4">Following</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-n3 order-lg-2 order-1">
                        <div class="mt-n5">
                            <div class="d-flex align-items-center justify-content-center mb-2">
                                <div class="linear-gradient d-flex align-items-center justify-content-center rounded-circle" style="width: 110px; height: 110px;" ;="">
                                    <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden" style="width: 100px; height: 100px;" ;="">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="w-100 h-100">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h5 class="fs-5 mb-0 fw-semibold">@Model.Name</h5>
                                <p class="mb-0 fs-4">KOL Tiktok</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-last">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center justify-content-lg-start my-3 gap-3">
                            <li class="position-relative">
                                <a class="text-white d-flex align-items-center justify-content-center bg-primary p-2 fs-4 rounded-circle" href="javascript:void(0)" width="30" height="30">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="position-relative">
                                <a class="text-white bg-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="position-relative">
                                <a class="text-white bg-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="position-relative">
                                <a class="text-white bg-danger d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li><button class="btn btn-primary" style="color: orange; background-color: black">Theo dõi</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card shadow-none border">
                            <div class="card-body">
                                <h4 class="fw-semibold mb-3">Thông tin liên hệ</h4>
                                <p>Xin chào tớ là @Model.Name , chào mừng bạn ghé thăm trang cá nhân của mình, rất vui nếu chúng ta có cơ hội hợp tác</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center gap-3 mb-4">
                                        <i class="fa fa-briefcase text-dark fs-6"></i>
                                        <h6 class="fs-4 fw-semibold mb-0">@Model.User.UserName</h6>
                                    </li>
                                    <li class="d-flex align-items-center gap-3 mb-4">
                                        <i class="fa fa-envelope text-dark fs-6"></i>
                                        <h6 class="fs-4 fw-semibold mb-0">@Model.User.Email</h6>
                                    </li>
                                    <li class="d-flex align-items-center gap-3 mb-4">
                                        <i class="fa fa-desktop text-dark fs-6"></i>
                                        <h6 class="fs-4 fw-semibold mb-0">@Model.User.Bio</h6>
                                    </li>
                                    <li class="d-flex align-items-center gap-3 mb-2">
                                        <i class="fa fa-list text-dark fs-6"></i>
                                        <h6 class="fs-4 fw-semibold mb-0">@Model.User.Phonenumber</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card shadow-none border">
                            <div class="card">
                                <h4 class="fw-semibold mb-3">Chiến dịch nổi bật</h4>
                                <div class="card-header">
                                    Super Friday
                                </div>
                                <div class="card-header">
                                    Mega Tech
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body border-bottom">
                                <div class="d-flex align-items-center gap-3">
                                    <h2 style="color:orange">Chào mừng đến với Trang cá nhân của @Model.Name</h2>
                                </div>
                                <p class="text-dark my-3">
                                    Tôi tự hào là gương mặt thương hiệu tiên phong trong ngành sản phẩm chăm sóc da mặt và cơ thể, tất cả sản phẩm đều được kiểm nghiệm da liễu và cấp phép bởi Cục Quản lý Dược. Được biết đến qua những sản phẩm nổi bật như Gel tẩy tế bào chết, Kem dưỡng da toàn thân, Kem dưỡng trắng vùng nách, và Tinh chất trị mụn.
                                </p>
                                <p>
                                     Tôi nhận thấy sự ảnh hưởng mạnh mẽ của bạn trong cộng đồng trên nền tảng Tiktok, và rất mong được hợp tác với bạn. Chúng tôi tin rằng sự kết hợp giữa sản phẩm chất lượng của GMEELAN và khả năng kết nối của bạn sẽ mang lại những trải nghiệm tuyệt vời cho người tiêu dùng. Cùng nhau, chúng ta có thể giới thiệu những sản phẩm bán chạy nhất của GMEELAN đến gần hơn với người tiêu dùng.
                                </p>
                                <p class="text-dark my-3">
                                    Rất mong nhận được phản hồi từ bạn để bắt đầu cuộc thảo luận về cơ hội hợp tác này. Bạn có thể liên hệ trực tiếp với chúng tôi qua Zalo theo số điện thoại <strong>@Model.User.Phonenumber</strong> để trao đổi chi tiết thêm.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</body>
</html>