@model List<api.DTOs.InfluencerDto>
	<div class="p-toast p-component p-toast-top-right">
		<div></div>
	</div>
	<div class="header-list-koc mb-2 flex justify-content-between flex-wrap align-items-center">
		<h3 class="mb-0"></h3>
		<div class="select-soft md:w-auto w-full md:mt-0 mt-1 flex align-items-center">
			<label for="sorting">
				Sắp xếp
				theo:
			</label><select class="cursor-pointer outline-none" id="sorting" name="sorting">
				<option selected="" value="minPrice">...</option>
				<option value="avgVideo">Doanh thu/ Video</option>
				<option value="avgLive">Doanh thu/ Live</option>
				<option value="followers">Follower</option>
				<option value="price">Giá booking</option>
			</select>
		</div>
	</div>

	<div class="p-dataview p-component p-dataview-list">
		<div class="p-dataview-content">
			<div class="p-grid grid p-nogutter grid-nogutter">
			@if (Model != null && Model.Any())
			{
				@foreach (var influencer in Model)
				{
					<div class="p-toast p-component p-toast-top-right">
						<div></div>
					</div>
					<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
						<i class="pi-heart pi like-kol"></i><a target="_blank" class="block"
												   href="/components/detail-candidate/?mask=Le-Thanh&amp;id=557" title="@influencer.Name">
							<div class="image text-center relative border-round-xl overflow-hidden">
								<div class="followers align-items-center text-white absolute border-round-3xl flex">
									<img class="mr-1 border-circle" width="22" height="22"
										 src="/demo/images/social/icon-tiktok.svg">@influencer.FollowersCount
								</div><img width="270" height="330"
										   class="max-w-full w-full vertical-align-middle"
										   src="https://api.mykol.vn/profile/557/eb051934-a7a2-47f4-93fb-e529534c075d_1696049874702-resize.jpg"
										   loading="lazy" alt="@influencer.Name">
								<div class="title text-left px-4 pb-4 w-full absolute">
									<h3 class="name text-white capitalize mb-0 line-clamp-1">@influencer.Name</h3><span class="city text-white">@influencer.DateOfBirth</span>
								</div>
							</div>
						</a>
						<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
							<div class="social flex align-items-center">
								<a href="https://www.tiktok.com/zent94"
								   target="_blank" title="tiktok">
									<img width="22" height="22"
										 src="/demo/images/social/icon-tiktok.svg">
								</a><span class="ml-1">
									<img width="29"
										 height="27" src="/demo/images/home/icon-analytics.png">
								</span>
								<div class="social" style="margin-top: -3px;">
									<img width="22" height="22"
										 src="/demo/images/kolInfo/zalo.svg" alt="Kols"
										 class="max-w-full md:w-auto vertical-align-middle">
								</div>
							</div> 
							<div class="price">@influencer.BookingPrice.ToString() VNĐ</div>
						</div>
						<div class="careers line-clamp-2">@influencer.Gender</div>
					</div>
				}
			}
			else
			{
				<p>No KOCs available to display.</p>
			}
			</div>
		</div>
	</div>
	<div class="p-paginator p-component md:mt-4">
		<button type="button"
				class="p-paginator-prev p-paginator-element p-link p-disabled border-round" disabled="">
			<span class="p-3">Previous</span><span role="presentation" class="p-ink"></span>
		</button><span class="p-paginator-pages">
			<button type="button"
					class="p-paginator-page p-paginator-element p-link p-paginator-page-start p-highlight">
				1<span role="presentation" class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				2<span role="presentation"
					   class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				3<span role="presentation"
					   class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				4<span role="presentation"
					   class="p-ink"></span>
			</button><span class="p-paginator-page p-paginator-element p-link p-paginator-page-end p-disabled"
						   style="user-select: none;">...</span>
		</span><button type="button"
					   class="p-paginator-next p-paginator-element p-link border-round">
			<span class="p-3">Next</span><span role="presentation" class="p-ink"></span>
		</button><span class="mx-3"
					   style="color:var(--text-color);user-select:none">
			Go to <input min="0" minlength="1" size="2"
				   class="p-inputtext p-component p-filled ml-1" value="1"><button class="p-button p-component ml-2">
				Go<span role="presentation" class="p-ink"></span>
			</button>
		</span>
	</div>
