@model IEnumerable<api.DTOs.InfluencerDto>
	<div class="p-toast p-component p-toast-top-right">
		<div></div>
	</div>
	<form id="filterForm" method="post" action="/Search/Search">
		<div class="header-list-koc mb-2 flex justify-content-between flex-wrap align-items-center">
			<h3 class="mb-0"></h3>
			<div class="select-soft md:w-auto w-full md:mt-0 mt-1 flex align-items-center">
				<label for="sorting">Sắp xếp theo: </label>
				<select class="cursor-pointer outline-none" id="sorting" name="sorting">
					<option selected="" value="minPrice">...</option>
					@* <option value="avgVideo">Doanh thu/ Video</option>
					<option value="avgLive">Doanh thu/ Live</option> *@
					<option value="followers">Follower</option>
					<option value="price">Giá booking</option>
				</select>
			<button type="submit">Tìm</button>
			</div>
		</div>
	</form>
	<div class="p-dataview p-component p-dataview-list">
		<div class="p-dataview-content">
			<div class="p-grid grid p-nogutter grid-nogutter">
			@if (Model != null && Model.Any())
			{
				@foreach (var influencer in Model)
				{
					<div class="p-toast p-component p-toast-top-right">
						<div></div>
					</div>
					<div class="md:col-3 item-kol cursor-pointer sm:col-6 col-12 p-3 relative">
						<i class="pi pi-heart heart-icon like-kol" data-id="@influencer.InfluencerId" onclick="addToFavorites(@influencer.InfluencerId)"></i>
						<a target="_blank" class="block" href="/components/detail-candidate/?mask=@influencer.Name&amp;id=@influencer.PersonalIdentificationNumber" title="@influencer.Name">
							<div class="image text-center relative border-round-xl overflow-hidden">
									@if (influencer.SocialMedias != null)
									{
										@foreach (var socialMedia in influencer.SocialMedias)
										{
											<div class="followers align-items-center text-white absolute border-round-3xl flex">
												<i class="fa-brands fa-facebook" style="color: #74C0FC;"></i>   @socialMedia.FollowersCount
												
											</div>
										}
									}
									@if (influencer.User != null)
									{
										var avatarUrl = influencer.User.Avatar ?? "default-avatar.jpg";
										<img width="270" height="330" class="max-w-full w-full vertical-align-middle"
											 src="https://localhost:7290/uploads/avatars/@avatarUrl"
											 loading="lazy" alt="@influencer.Name">
									}
								<div class="title text-left px-4 pb-4 w-full absolute">
									<h3 class="name text-white capitalize mb-0 line-clamp-1">@influencer.Name</h3>
									<span class="city text-white">@influencer.DateOfBirth.ToString("d")</span>
								</div>
							</div>
						</a>
						<div class="info mt-2 flex justify-content-between flex-wrap align-items-center">
							<div class="social flex align-items-center">
								@if (influencer.SocialMedias != null)
								{
									@foreach (var socialMedia in influencer.SocialMedias)
									{
										<a href="@socialMedia.SocialMediaLink" target="_blank" title="@socialMedia.SocialMediaName">
											<i class="fa-brands fa-facebook" style="color: #74C0FC;"></i>
										</a>
									}
								}
								<span class="ml-1">
									<i class="fa-brands fa-tiktok" style="color: #000000;"></i>
								</span>
								
							</div> 
							<div class="price">@influencer.BookingPrice.ToString("N0") VNĐ</div>
						</div>
						<div class="careers line-clamp-2">@influencer.Gender</div>
						<div class="contact-info">
							@if (influencer.User != null)
							{
								<h5>Thông tin liên lạc</h5>
								<p>Email: @influencer.User.Email</p>
								<p>Số điện thoại: @influencer.User.Phonenumber</p>
								<p>Thành Phố: @influencer.User.Address</p>
							}
							else
							{
								<p>Chưa có thông tin cụ thể</p>
							}
						</div>
					</div>
				}
			}
			else
			{
				<p>No KOCs available to display.</p>
			}
			</div>
		</div>
	</div>
	<div class="p-paginator p-component md:mt-4">
		<button type="button"
				class="p-paginator-prev p-paginator-element p-link p-disabled border-round" disabled="">
			<span class="p-3">Previous</span><span role="presentation" class="p-ink"></span>
		</button><span class="p-paginator-pages">
			<button type="button"
					class="p-paginator-page p-paginator-element p-link p-paginator-page-start p-highlight">
				1<span role="presentation" class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				2<span role="presentation"
					   class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				3<span role="presentation"
					   class="p-ink"></span>
			</button><button type="button"
							 class="p-paginator-page p-paginator-element p-link">
				4<span role="presentation"
					   class="p-ink"></span>
			</button><span class="p-paginator-page p-paginator-element p-link p-paginator-page-end p-disabled"
						   style="user-select: none;">...</span>
		</span><button type="button"
					   class="p-paginator-next p-paginator-element p-link border-round">
			<span class="p-3">Next</span><span role="presentation" class="p-ink"></span>
		</button><span class="mx-3"
					   style="color:var(--text-color);user-select:none">
			Go to <input min="0" minlength="1" size="2"
				   class="p-inputtext p-component p-filled ml-1" value="1"><button class="p-button p-component ml-2">
				Go<span role="presentation" class="p-ink"></span>
			</button>
		</span>
	</div>
